**pycache**/
*.pyc
.vscode/
.git_backup/

test_calibration.py
test_serial.py

# Test files
test_*.py
TEST_*.PY
text_deadzone.py

# Python cache
__pycache__/
*.pyc

# Profiles (optional)
profiles/*.json

# Build folders
build/
dist/

# PyInstaller
*.spec

# Python cache
__pycache__/
*.pyc

Release/
*.zip